h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.background {
    color: white;
    padding: 2em;
    text-align: center;
    background-image: url(https://scx2.b-cdn.net/gfx/news/2020/astrobiologi.jpg);
    background-size: cover;
    background-position: center;
}

h3 {
    text-align: center;
}

.mars-news {
    margin-left: 1em;
}

.data-box {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
}

.hemi-fonts {
    font-weight: bolder;
    font-size: 1.5em;
}

.hemi-images {
    margin: 1em;
}
